<div class="panel panel-default" id="_assess">
	<div class="panel-heading"><span class="fa fa-magic"/> Assess</div>
	<div class="panel-body">
		<div class="col-sm-4">
			<div class="panel panel-primary" id="_dataset">
				<div class="panel-heading">Step 1: Dataset or SPARQL Endpoint</div>
				<div class="panel-body">
  		  	      <div class="form-group">
					 <label for="txtBaseURI">Base URI</label>
  		  	        <input type="text" class="form-control" placeholder="e.g. http://dbpedia.org" id="txtBaseURI">
  		  	      </div>
				  <br/>
		  	      <div class="form-group">
					<label for="txtDataset">Dataset or SPARQL Endpoint URI</label>
		  	        <input type="text" class="form-control" placeholder="e.g http://dbpedia.org/sparql" id="txtDataset">
					<span class="help-block small">Currently we do not support local datasets or endpoints. All Datasets should be dereferencable.</span>
		  	      </div>
				  <br/>
				  <div class="input-group">
					<input type="checkbox" checked data-toggle="toggle" id="tgl_query"> 
				   	<script type="text/javascript">
				   		$(function() {
				   			$('#tgl_query').bootstrapToggle({
				   					on: 'Dataset URI',
				   					off: 'SPARQL Endpoint',
				   					size: 'small',
									onstyle: 'success',
									offstyle: 'warning'
				   				});
				   		})
				   	</script>
				   </label>
		   		  </div>
				  <br/>
				</div>
			</div>
			
			<!-- <div class="panel panel-primary" id="_tips">
				<div class="panel-heading">TIPS</div>
				<div class="panel-body">
					<div class="bs-callout bs-callout-info">
						<h4>Tip 1</h4>
						<p>the tip</p>
					</div>
				</div>
			</div> -->
  		</div>

		<div class="col-sm-4">
			<div class="panel panel-primary" id="_metrics">
				<div class="panel-heading">Step 2: Choose Metrics</div>
				<div class="panel-body">
					<form role="form">
					<div class="checkbox checkbox-success"  id="_metricList">
					</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<!-- Other options panel-->
			<div class="panel panel-primary" id="_dataset">
				<div class="panel-heading">Step 3: Other Options</div>
				<div class="panel-body">
					<label for="chk_problemReport">Output Problem Report:</label>
					<input type="checkbox" id="chk_problemReport"/> 
				</div>
			</div>	
			
			<!-- Other Assess panel-->
			<div class="panel panel-primary" id="_dataset">
				<div class="panel-heading">Step 4: Assess!</div>
				<div class="panel-body">
			  	  <button type="submit" class="btn btn-default" onclick="assessDataset()">Assess</button>
				</div>
			</div>
		</div>
</div>

<script type="text/javascript">getConfiguredMetrics()</script>