<div class="panel panel-default" id="_validate">
	<div class="panel-heading"><span class="fa fa-bar-chart"/> Visualisation Wizard</div>
	<div class="panel-body">
		
		<!-- Step 1 -->
    	<div class="col-sm-4">
			<div class="panel panel-primary" id="_step1">
				<div class="panel-heading">Step 1: Choose Visualisation Type</div>
				<div class="panel-body">
					<form role="form" id="frm_step1">
						<div class="radio radio-success"  id="chk_step1_radio1">
							<input style='styled' type='radio' id='radio1' value="option1" name="stp1" onclick="wizardStp2('radio1')">
								<label for='radio1'>
									Visualise multiple datasets against a metric
								</label>
							</input>
						</div>
						<div class="radio radio-success"  id="chk_step1_radio2">
							<input style='styled' type='radio' id='radio2' value="option2" name="stp1" onclick="wizardStp2('radio2')">
								<label for='radio2'>
									Visualise the quality of a dataset's metrics over time
								</label>
							</input>
						</div>
						<div class="radio radio-success"  id="chk_step1_radio3">
						<input style='styled' type='radio' id='radio3' value="option3" name="stp1" onclick="wizardStp2('radio3')">
								<label for='radio3'>
									Visualise the quality of a dataset
								</label>
							</input>
						</div>			
					</form>
				</div>
			</div>
		</div>
		
		<!-- Step 2 -->
    	<div class="col-sm-4">
			<div class="panel panel-primary" id="_step2">
				<div class="panel-heading">Step 2: Choose Chart Type</div>
				<div class="panel-body">
					<form role="form" id="frm_step2">
					</form>
				</div>
			</div>
		</div>
		
		<!-- Step 3-->
    	<div class="col-sm-4">
			<div class="panel panel-primary" id="_step3">
				<div class="panel-heading">Step 3: Visualise</div>
				<div class="panel-body">
					<form role="form" id="frm_step3">
					</form>
				</div>
			</div>
		</div>
		
	</div> <!-- End of Panel Body-->
</div>